.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
}

input {
  width: 80%;
  padding: 10px;
  margin: 15px 0;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.modalActions {
  display: flex;
  justify-content: space-between;
}

.cancelButton,
.saveButton {
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.cancelButton {
  background-color: #f44336;
}

.saveButton {
  background-color: #4caf50;
}

.cancelButton:hover {
  background-color: #d32f2f;
}

.saveButton:hover {
  background-color: #45a049;
}
