.summary {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 30px;
  background-color: #f4f4f4;
  border-radius: 8px;
  margin: 10px 0;
  position: relative;
}

.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.item button {
  padding: 5px 10px;
  font-size: 1rem;
  color: white;
  background-color: #28a745;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.item button:hover {
  background-color: #218838;
}

.balance{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dropdown {
  position: absolute;
  top: 0px;
  left: 370px;
  z-index: 1000;
}
.income {
  color: green;
  font-weight: bold;
}

.expense {
  color: red;
  font-weight: bold;
}

.balancePositive {
  color: green;
  font-weight: bold;
}

.balanceNegative {
  color: red;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .dropdown {
    top: 100px;
    left: 160px;
  }
}